<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        
        <!-- Add CSS -->
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css">

        <!-- Add Fontsawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" type="text/css">

        <!-- Add Swiper CSS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <style>
            .swiper-container {
                position: relative;
                overflow: hidden;
                width: 100%;
                right: 0px;
                margin: 0 auto;
            }
                @media screen and (min-width: 960px) {
                    .swiper-container {
                        width: 60%;
                        right: -60px;
                    }
                }

            .swiper {
                position: relative;
                width: 100%;
                z-index: 2;
            }

            .swiper-slide {
                width: 10rem;
                height: 24rem;
                display: flex;
                flex-direction: column;
                align-items: self-start;
                position: relative;
                border-radius: 12px;
                box-shadow: -1px 5px 15px rgba(0, 0, 0, 0.1215686275);
                text-align: center;
                opacity: 0.4;
                transition: opacity 0.4s ease-in;
            }
            .swiper-slide span {
                display: inline-block;
                background: #9926e1;
                border-radius: 0 50px 50px 0;
                text-transform: capitalize;
                padding: 12px 20px;
                letter-spacing: 0.5px;
                font-weight: 500;
                position: absolute;
                top: 2em;
                left: 0;
                color: #fff;
            }
            .swiper-slide h3 {
                color: #fff;
                font-size: 1.3rem;
                line-height: 1.4;
                margin-bottom: 0.625rem;
                letter-spacing: 0.8px;
                position: relative;
                word-wrap: break-word;
            }
                @media screen and (min-width: 800px) {
                    .swiper-slide h3 {
                        font-size: 1.8rem;
                    }
                }
            .swiper-slide p {
                color: #fff;
                line-height: 1.6;
                font-size: 0.8rem;
            }
            .swiper-slide .slide-content {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, -10px);
                width: 90%;
            }
            .swiper-slide--one {
                background: #0f2027;
                background: linear-gradient(to bottom, rgba(44, 83, 100, 0), rgba(32, 58, 67, 0.0117647059), rgba(15, 32, 39, 0.8)), url("https://cdn.pixabay.com/photo/2023/03/12/20/58/ai-generated-7847847_1280.jpg") no-repeat 50% 50%/cover;
            }
            .swiper-slide--one h3 {
                font-family: "Courgette", cursive;
                font-weight: 300;
            }
            .swiper-slide--two {
                background: linear-gradient(to bottom, rgba(44, 83, 100, 0), rgba(32, 58, 67, 0.0117647059), rgba(15, 32, 39, 0.8)), url("https://cdn.pixabay.com/photo/2022/06/26/21/12/cover-7286312_1280.jpg") no-repeat 50% 50%/cover;
            }
            .swiper-slide--two h3 {
                font-family: "Noto Serif Vithkuqi", serif;
                font-weight: 300;
            }
            .swiper-slide--three {
                background: url("https://upload.wikimedia.org/wikipedia/commons/9/92/THE_BOOK_cover_image.png") no-repeat 50% 50%/cover;
            }
            .swiper-slide--four {
                background: url("https://covers.audiobooks.com/images/covers/full/9781511358378.jpg") no-repeat 50% 50%/cover;
            }
            .swiper-slide--five {
                background: url("https://cdn.pixabay.com/photo/2015/02/20/16/59/deer-643340_1280.jpg") no-repeat 50% 50%/cover;
            }
            .swiper-slide--six {
                background: linear-gradient(to bottom, rgba(44, 83, 100, 0), rgba(32, 58, 67, 0.0117647059), rgba(15, 32, 39, 0.8)), url("https://cdn.pixabay.com/photo/2022/11/04/23/15/woman-7570834_1280.jpg") no-repeat 50% 50%/cover;
            }
            .swiper-slide--six h3 {
                font-family: "Chonburi", cursive;
                font-weight: 400;
            }

            .swiper-slide-active {
                display: grid;
                opacity: 1;
            }

            .swiper-pagination {
                position: relative;
                bottom: -0.313rem;
                text-align: center;
                margin-top: 35px;
                width: auto;
            }
            .swiper-pagination-bullet {
                border-radius: 0;
                width: 1.5rem;
                height: 0.25rem;
                background: #fff;
            }
            .swiper-pagination-bullet-active {
                background: #fff;
            }
        </style>

        <title>Book Store</title>
        
    </head>
    <body>

        <header class="relative shadow-lg px-11 py-5">
            <nav class="flex justify-between">
                <div class="w-[130px] md:w-[200px] flex items-center">
                    <a href="/"><img src="https://i.postimg.cc/MZCBXb1K/logo.png" alt="logo" srcset=""></a>
                </div>
                <div class="flex items-center gap-2">
                    <a href="/user">
                        <button type="button" class="rounded-full overflow-hidden">
                            <img src="/assets/images/user.jpg" alt="Gambar Profil" class="w-10 h-10 object-cover">
                        </button>
                    </a>
                </div>                
            </nav>
        </header>

        <main class="main">
            <div class="content">
                <h2>Welcome to Online Book Store</h2>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quam magnam obcaecati error consequatur repellat fugiat, deleniti nisi eum voluptates.</p>
                <ul class="counter">
                    <li>
                        <h3><i class="fa-solid fa-book"></i>68+k</h3>
                        <span>book collections</span>
                    </li>
                    <li>
                        <h3><i class="fa-solid fa-user"></i>25,634</h3>
                        <span>customers</span>
                    </li>
                </ul>
                <a href="/buku"><button class="btn"> Go to Collections <i class="fa-solid fa-arrow-right"></i></button></a>
            </div>
        
            <div class="swiper-container">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide--one">
        
                            <span>bestseller</span>
                            <div class="slide-content">
                                <h3>The Raven</h3>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide--two">
                            <span>bestseller</span>
                            <div class="slide-content">
                                <h3>Mademoiselle</h3>
                                <p>epic drama</p>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide--three">
                            <span>bestseller</span>
                        </div>
                        <div class="swiper-slide swiper-slide--four">
                            <span>bestseller</span>
                        </div>
                        <div class="swiper-slide swiper-slide--five">
                            <span>bestseller</span>
                        </div>
                        <div class="swiper-slide swiper-slide--six">
                            <span>bestseller</span>
                            <div class="slide-content">
                                <h3>Woman in the dark</h3>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="swiper-pagination"></div>

            </div>
            <div class="circle"></div>
        </main>

        <!-- Swiper JavaScript -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script>
        //Swiper Js
        var swiper = new Swiper(".swiper", {
            effect: "coverflow",
            grabCursor: true,
            spaceBetween: 30,
            centeredSlides: false,
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 0,
                modifier: 1,
                slideShadows: false
            },
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true
            },
            keyboard: {
                enabled: true
            },
            mousewheel: {
                thresholdDelta: 70
            },
            breakpoints: {
                460: {
                slidesPerView: 3
                },
                768: {
                slidesPerView: 3
                },
                1024: {
                slidesPerView: 3
                },
                1600: {
                slidesPerView: 3.6
                }
            }
            });
        </script>

    </body>
</html>
